Как вы склоняете названия районов Москвы:
<p><form action="/write">
  <table>
    <tr><td>Строгино </td><td><input type="radio" name="strogino" value="do">в Строгине <input type="radio" name="strogino" value="dont">в Строгино</td></tr>
    <tr><td>Митино </td><td><input type="radio" name="mitino" value="do">в Митине <input type="radio" name="mitino" value="dont">в Митино</td></tr>
    <tr><td>Щукино </td><td><input type="radio" name="schukino" value="do">в Щукине <input type="radio" name="schukino" value="dont">в Щукино</td></tr>
    <tr><td>Марьино </td><td><input type="radio" name="marino" value="do">в Марьине <input type="radio" name="marino" value="dont">в Марьино</td></tr>
    <tr><td>Орехово-Зуево </td><td><input type="radio" name="orehovo" value="do">в Орехове-Зуеве <input type="radio" name="orehovo" value="dont">в Орехово-Зуево</td></tr>
  </table></p>
Введите информацию о себе:
    <p>Страна: <input type="text" name="country"><Br>
    <p>город: <input type="text" name="city"><Br>
    <p>Пол: <input type="radio" name="sex" value="male">М <input type="radio" name="sex" value="female">Ж<Br>
    <p>Возраст: <input type="number"><Br>
      <p><input type="submit" value="Отправить"></p>
</form>
